.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 230px;
    margin-bottom: 0;
}

#mary-r{
    color: #FD6E0A;
}
.mary-titel{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;

}

.dark02{
    color: #474747;
}
.dark03{
    color:#757575;
}
.button{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 35px;
    color: white;
    border-radius: 5px;
    border: none;

}

.banner-t1{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-t2{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-des{
    font-size: 18px;
    

}

.banner-img{
    width: 584px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 230px;
    align-items: center;
}

.banner-text{
    width: 585px;
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
main{
    max-width: 1140px;
    margin: 0 auto;

}

.about-div{
    
    padding: 130px 160px;
    background-color: #FFF8F3;
    text-align: center;
    margin-top: 130px;
    
}

.about-info{
    display: flex;
    justify-content: space-between;
}

.about-t1{
    font-weight: bold;
    font-size: 35px;
}

.about-info{
    font-size: 20px;
}
.about-info02{
    font-weight: bold;
    font-size: 20px;
}

.skills{
    display: flex;
    gap: 24px;
    
   
}
.skill{
 box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 padding: 30px;
}

.center-item{
    text-align: center;
  
}
.what-do{
      margin: 130px auto;
}

.resume-titel{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.resume-t1{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
}


.resume-t2{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
}
.resume-subt2{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.resume-des{
    font-weight: bold;
    font-size: 16px;
    color: #757575;
}
.resume-div{
    display: flex;
    gap: 24px;
}

.resume{
    margin-bottom: 113px;
}
.resume-btn{
    margin-top: 50px;
}